/* CSS Stylesheet */
#main-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#game-title-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 80vw;
  background-color: blue;
  height: 100px;
  padding: 10px;
  padding-top: 30px;
}

#game-title {
  color: white;
  flex: 0 100%;
  margin: 0 auto;
}

#total-clicks {
  color: red;
  flex: 1 42%;
}

#time-taken {
  color: red;
  flex: 2 42%;
}

#new-game {
  flex: 3;
  height: 40px;
  width: 40px;
  color: purple;
  background-color: orange;
  border: pink 2px solid;
  border-radius: 15px;
}

#card-container-outer {
  background-color: lightblue;
  width: 80vw;
  height: auto;
  padding: 10px;
  margin: 0 auto;
  border: solid 3px purple;
}

#card-container-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  max-width: 500px;
  height: 70vh;
  margin: 0 auto;
}

.card-container {
  position: relative;
  display: flex;
  flex-basis: 25%;
  justify-content: center;
}

.card {
  width: 100px;
  height: 150px;
  margin: auto;
  border: solid black 2px;
  border-radius: 30px;
  margin: 10px;
  background-color: pink;
  position: absolute;
  transition: 0.8s ease-out;
  transform-style: preserve-3d;
}

.backside {
  background-color: white;
  background-image: none !important;
  transform: rotateY(180deg);
}

.frontside {
  transform: rotateY(0deg);
}

/* Symbols */

#chocobo {
  background-image: url('../images/chocobo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
}

#cactaur {
  background-image: url('../images/cactaur.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
}

#moogle {
  background-image: url('../images/moogle.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
}

#penguin {
  background-image: url('../images/penguin.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
}

#plantie {
  background-image: url('../images/plantie.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
}

#shark {
  background-image: url('../images/shark.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
}

#turtle {
  background-image: url('../images/turtle.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
}

#vivi {
  background-image: url('../images/vivi.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
}

#win-container {
  background-color: white;
  width: 90vw;
  height: 95vh;
  margin: 0;
  padding: 0;
  position: absolute;
}

.win-container-hide {
  display: none; !imporant;
}

#you-win {
  display: flex;
  flex-wrap: wrap;
  width: calc(80vw - 160px);
  height: 140px;
  background: linear-gradient(rgb(102,255,204),rgb(230,255,102),
rgb(102,230,255));
  border:solid 4px #7f66ff;
  position: absolute;
  left: 5%;
  top: 30%;
  text-align: center;
  padding: 80px;
}


#win-text {
  flex: 2;
  flex-basis: 100%;
}

#win-subtext {
  flex: 3;
  flex-basis: 100%;
}

#play-again {
  margin: 0 auto;
  height: 30px;
}

#win-image-left {
  flex-basis: 10%;
  max-width: 200px;
  position: absolute;
  left: -10%;
  top: 5%;
}

#win-image-right {
  flex-basis: 10%;
  max-width: 200px;
  position: absolute;
  left: 85%;
  top: 10%;
}

/* Smaller screens */
@media screen and (max-width: 630px) {
  .card {
    width: 80px;
    height: 120px;
  }
}
