/* CSS Stylesheet */
#main-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#game-title-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 80vw;
  background-color: blue;
  height: 100px;
  padding: 10px;
  padding-top: 30px;
}

#game-title {
  color: white;
  flex: 0 100%;
  margin: 0 auto;
}

#total-clicks {
  color: red;
  flex: 1 50%;
}

#time-taken {
  color: red;
  flex: 2 50%;
}

#card-container {
  background-color: lightblue;
  width: 80vw;
  height: auto;
  padding: 10px;
  margin: 0 auto;
  border: solid 3px purple;
}

#card-container-inner {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  max-width: 600px;
  position: relative;
  justify-content: center;
  margin: 0 auto;
}

.card {
  background-color: pink;
  width: 100px;
  height: 150px;
  margin: auto;
  border: solid black 2px;
  border-radius: 30px;
  margin: 10px;
}

.backside {
  background-color: white;
  background-image: none !important;
}

/* Symbols */

#chocobo {
  background-image: url('../images/chocobo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
}

#cactaur {
  background-image: url('../images/cactaur.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
}

#moogle {
  background-image: url('../images/moogle.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
}

#penguin {
  background-image: url('../images/penguin.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
}

#plantie {
  background-image: url('../images/plantie.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
}

#shark {
  background-image: url('../images/shark.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
}

#turtle {
  background-image: url('../images/turtle.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
}

#vivi {
  background-image: url('../images/vivi.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
}


/* Smaller screens */
@media screen and (max-width: 630px) {
  .card {
    width: 80px !important;
    height: 120px !important;
  }
}
